# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
coverage
*.local

public/core/drawio-embed/*
public/core/tikz-editor/*
public/core/texfmt/*
public/core/busytex/*

src/plugins/viewers/
src/plugins/renderers/
src/plugins/loggers/
src/plugins/themes/
src/plugins/backup/
src/plugins/bibliography/
src/plugins/collaborative_viewers/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
